@page "{id:int?}"
@model DatabaseFirstApproach.Pages.Employees.DetailsModel

@{
    ViewData["Title"] = "Employee Details";
}

<h1 class="text-info">Employee Details</h1>
<hr />

<div class="card-deck">
    <div class="card text-primary text-center">
        <h1 class="card-header"> @Html.DisplayFor(model => model.TblEmployees.Name)</h1>
        <div class="card-body">
            <h4>
                Email :    @Model.TblEmployees.Email
            </h4>
            <h4>
                Salary :   @Model.TblEmployees.Salary.Value.ToString("c")
            </h4>
            <h4>
                Department : @Html.DisplayFor(model => model.TblEmployees.Department.DepartmentName)
            </h4>
            <h4>
                Gender :    @Html.DisplayFor(model => model.TblEmployees.Gender.Sex)
            </h4>
        </div>
        <div class="card-footer">
            <a asp-page="./Index" class="btn btn-outline-secondary btn-sm mb-2">Back</a>
            <a asp-page="./Edit" asp-route-id="@Model.TblEmployees.EmployeeId" class="btn btn-outline-primary btn-sm mb-2">Edit</a>
            <a asp-page="./Delete" asp-route-id="@Model.TblEmployees.EmployeeId" class="btn btn-outline-danger btn-sm mb-2">Delete</a>
        </div>
    </div>

</div>
