@page
@model DatabaseFirstApproach.Pages.Departments.IndexModel

@{
    ViewData["Title"] = "Employee Departments";
}


<h1 class="text-info">List Of Departments</h1>
<hr />
<div class="row">
    <div class="ml-auto mb-2 mr-3"><a asp-page="Create" class="btn btn-outline-primary">Create new department</a></div>
</div>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TblDepartment[0].DepartmentName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TblDepartment)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentName)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm mb-2">Edit</a>
                        <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm mb-2">Details</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm mb-2">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
